
build-Cookbook-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/dataToUpload.txt
Cookbook.pro.user
Cookbook.pro.user.5d53003
cookbookMain.cpp
Cookbook.pro.user
build-Cookbook-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/dataToUpload.txt
*.autosave
Cookbook (1).pro.user.4ebeef9
Cookbook.pro.user (1).4ebeef9
Cookbook (1).pro.user.4ebeef9
Cookbook (1).pro.user.4ebeef9
